In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./../lists/zerodha_instrument_list.csv')

In [3]:
df

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
0,552830982,2159496,EURINR21DEC81.5000CE,EURINR,0,2021-12-29,81.50,0.0025,1,CE,BCD-OPT,BCD
1,552830470,2159494,EURINR21DEC81.5000PE,EURINR,0,2021-12-29,81.50,0.0025,1,PE,BCD-OPT,BCD
2,552826374,2159478,EURINR21DEC81.7500CE,EURINR,0,2021-12-29,81.75,0.0025,1,CE,BCD-OPT,BCD
3,552825606,2159475,EURINR21DEC81.7500PE,EURINR,0,2021-12-29,81.75,0.0025,1,PE,BCD-OPT,BCD
4,552837126,2159520,EURINR21DEC82.0000CE,EURINR,0,2021-12-29,82.00,0.0025,1,CE,BCD-OPT,BCD
...,...,...,...,...,...,...,...,...,...,...,...,...
84841,978945,3824,ZODJRDMKJ,ZODIAC JRD-MKJ,0,NaN,0.00,0.0500,1,EQ,NSE,NSE
84842,2916865,11394,ZOTA,ZOTA HEALTH CARE,0,NaN,0.00,0.0500,1,EQ,NSE,NSE
84843,7436801,29050,ZUARI,ZUARI AGRO CHEMICALS,0,NaN,0.00,0.0500,1,EQ,NSE,NSE
84844,979713,3827,ZUARIGLOB,ZUARI GLOBAL,0,NaN,0.00,0.0500,1,EQ,NSE,NSE
84845,4514561,17635,ZYDUSWELL,ZYDUS WELLNESS,0,NaN,0.00,0.0500,1,EQ,NSE,NSE

In [4]:
dfx = df[df['exchange'].isin(['NSE', 'BSE'])]

In [5]:
dfx.head()

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
2949,245876996,960457,0001AIPL24,NaN,0,NaN,0.0,0.01,10,EQ,BSE,BSE
2950,245304324,958220,001CSSL25,NaN,0,NaN,0.0,0.01,1,EQ,BSE,BSE
2951,245303812,958218,001JAL48,NaN,0,NaN,0.0,0.01,1,EQ,BSE,BSE
2952,183046148,715024,001PSL35,NaN,0,NaN,0.0,0.01,1,EQ,BSE,BSE
2953,138992388,542939,04ABB,NaN,0,NaN,0.0,0.01,1,EQ,BSE,BSE

In [6]:
dfx = dfx.sort_values(by='exchange', ascending=False)

In [7]:
dfx = dfx.drop(columns=['last_price', 'strike', 'tick_size', 'lot_size', 'expiry', 'exchange', 'instrument_type'])

In [8]:
dfx = dfx.dropna()

In [9]:
dfx = dfx.drop_duplicates(subset=['tradingsymbol'], keep='first')
dfx = dfx.drop_duplicates(subset=['name'], keep='first')

In [10]:
dfx = dfx.sort_values(by='tradingsymbol')

In [11]:
dfx = dfx.reset_index()

In [12]:
dfx = dfx.drop(columns=['index'])

In [13]:
dfx.where(dfx['tradingsymbol'] == 'TATASTEEL').dropna()

      instrument_token  exchange_token tradingsymbol        name segment
3387          895745.0          3499.0     TATASTEEL  TATA STEEL     NSE

In [16]:
dfx.to_csv('./../lists/zerodha_instruments_equities.csv', index=False)